<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name="keywords" content="bijuterii, inele, brățări, cercei, piercinguri, pandantive, medalioane, argint, pietre semiprețioase, onix, ametist, livrare rapidă, retur gratuit, transport gratuit la peste 200 ron, gotic, gotice, handmade, oțel inoxidabil, reglabile, gothic, alternativ, livrare în toată țara, rock, punk, negru, gravură, Killstar, Darkstar, Alchemy Gothic, Demonia, Cleopatra, Living Dead Souls"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="La PlagueStore gasesti bijuterii inedite in stil gotic care cu siguranta iti vor ">
        <title>PlagueStore</title>
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body class="pagina">
    <%- include("../fragmente/header.ejs")  %>
    <main>
        <h2>Alta pagina</h2>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>