<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Individualizare prăjitură</title>
		<%- include("../fragmente/head") %>
        
		<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
		<script src="/resurse/js/info-clienti.js" crossorigin></script>
		<link type="text/css" href="/resurse/css/info-clienti.css"rel="stylesheet" />
	</head>
	<body class="pagina">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		
			<section id="info">
				<h2>Informații  pentru clienți</h2>
                <p>Mai deschidem în curând un sediu în orașul Prăjiturești.</p>
				
			</section>
			<section id="prajitura-individualizata">
				<h2>Prăjitură individualizată</h2>
                <p>Având în vedere că nu trebuie să mâncăm noi prăjiturile,
					 ci dumneavoastră, vă permitem să vă faceți singur rețeta și designul prăjiturii. </p>
				<div id="creare-prajitura">
					Se incarca aplicația.
				</div>
				<hr/>
				<section>
					<h3> Exemplu simplu curs</h3>
					<div id="exemplu-curs">
						Se incarca aplicația.
					</div>
				</section>
			</section>
			<section>
				<h2>Exemplu SVG - faceți click pe prăjitură</h2>
				<svg id="svg_prajitura" width="300" height="250" onclick="afiseaza_explicatii()">
					<style>
					  #blat{
						transition:all 2s linear;
					
					  }
					  #blat:hover{
						filter: invert(100%);
					  }
					  #umplutura_dr1{
						filter: contrast(200%);
					  }
					  #link_cireasa *:hover{
						transform: rotateY(180deg);
						transform-origin: 150px 30px;/*atentie, sistemul de coordonate original e cela al intregului svg (de exemplu 50% 50% ar fi centrul intregii imagini SVG)*/
					  }
					</style>
					<!-- definesc obiectele pe care vreau sa le folosesc in cadrul obiectelor afisabile-->
					<!-- obiectele din defs nu sunt randate decat daca sunt referentiate de alte obiecte din afara-->
					  <defs>
						  <radialGradient id="gradientCireasa" fx="70%" fy="30%">
							  <stop offset="10%" stop-color="white" />
							  <stop offset="95%" stop-color="red" />
						  </radialGradient>
						  <pattern id="umplutura" patternUnits="userSpaceOnUse" x="0" y="0" width="300" height="200">
							<!-- in tagul filter grupez mai multe filtre pe care doresc sa le aplic asupra aceluiasi element-->
							<filter id="coolEffect">
							  <!-- creez un zgomot grafic care face culoarea sa apara in mod neuniform-->
							  <feTurbulence baseFrequency="0.2" type="fractalNoise" numOctaves="4"/>
							  <!-- schimb culoarea-->
							  <feColorMatrix values="0 0 0 .11 .67
							  0 0 0 .09 .38
							  0 0 0 .08 .14
							  0 0 0 0 1"/>
							  <feComponentTransfer color-interpolation-filters="sRGB">
								<feFuncR type="gamma" exponent="4.5" amplitude="2.1" offset="0"></feFuncR>
								<feFuncG type="gamma" exponent="1.5" amplitude="1.1" offset="0"></feFuncG>
								<feFuncB type="gamma" exponent="1.5" amplitude="1.4" offset="0"></feFuncB>
							  </feComponentTransfer>
							  <!-- am folosit o matrice de convolutie pentru inasprirea imaginii (efectul "sharpen")-->
							  <feConvolveMatrix order="3" kernelMatrix=" 1  -1  1 -1  -0.1 -1  1  -1    1"/>
				  
							</filter>
							
							<rect id="umplutura_dr" width="100%" height="100%" filter="url(#coolEffect)"/>
						  </pattern>
					</defs>
					<!-- folosesc un filtru de marire (pentru a mari cireasa de pe prajitura)-->
					<filter id="dil">
						<feMorphology in="SourceGraphic" operator="dilate" radius="1.3">
						</feMorphology>    
					</filter>
					<g id="blat" onmouseover="info(this)" onmouseout="stergeInfo()">
					  <rect x="50" y="50" rx="25" ry="25" width="200" height="50" 
					  style="fill:brown;stroke:pink;stroke-width:5;stroke-opacity:0.9" />
					  <rect id="blat_umplutura" x="50" y="100" rx="25" ry="25" width="200" height="50" fill="url(#umplutura)"
					  style="stroke:pink;stroke-width:5;stroke-opacity:0.9" 
					  />
					  <rect x="50" y="150" rx="25" ry="25" width="200" height="50"
					  style="fill:brown;stroke:pink;stroke-width:5;stroke-opacity:0.9" />
					  <path fill="white" stroke="lightgray" stroke-width="0.3" d="m 0 0 c 3 -1 8 -1 11 0 c -1 2 -1.3333 1.3333 -3 1 c -1 0 -2 1 -4 0 c -1 0 -4 2 -3.8 -1.2 " transform="translate(48 55) scale(18.5 20)"/>
					  
					</g>
					<a id="link_cireasa" href="https://www.google.com/search?q=prajituri">
					  <circle cx="150" cy="30" r="30" stroke="#8B0000" stroke-width="2" fill="url(#gradientCireasa)" filter="url(#dil)">
						<animate
						  attributeType="XML"
						  attributeName="cy"
						  from="0"
						  to="35"
						  dur="1s"
						  repeatCount="1"
						  fill="freeze"  />
					  </circle>
					</a>
					<script>
					  // <![CDATA[
				  
					  function afiseaza_explicatii(){
						var info=document.getElementById("explicatii");
						if(!info) {
						  let p=document.createElement("p");
						  p.innerHTML=document.querySelector("#svg_prajitura desc").innerHTML
						  let prajitura=document.getElementById("svg_prajitura");
						  prajitura.parentNode.insertBefore(p, prajitura.nextSibling);
						  p.id="explicatii";
						}
					  }
					  function info(elem){
						console.log(elem);
						var xmlns = "http://www.w3.org/2000/svg";
						var textNou = document.createElementNS(xmlns, "text");//creez un tag <text>
						var continut = document.createTextNode("Prajitura"); //creez un textNode cu stringul Prajitura
						textNou.appendChild(continut); //adaug continutul in tagul <text>
				  
						//setez pozitia pentru elementul <text>  
						textNou.setAttribute("x","0");
						textNou.setAttribute("y","50");
				  
						//stilizez textul
						textNou.setAttribute("font-weight","bold");
						textNou.setAttribute("fill","fuchsia");
						textNou.setAttribute("font-family","Comic Sans MS");
						textNou.setAttribute("id","text_blat");
						elem.appendChild(textNou);
					  }
				  
					  function stergeInfo(elem){
						let text_blat=document.getElementById("text_blat")
						if(text_blat) text_blat.remove();
					  }
					  // ]]>
					</script>
					<title>O prajitura realista si bine desenata. Parol!</title>
					<desc>
					  Autor: Irina Ciocan<br/>
					  Grupa: 112-prof<br/>
					  Descriere: O prajitura interactiva
					  <ul>
						<li>faceti click pe cireasa</li>
						<li>veniti cu cursorul pe blat</li>
						<li>veniti cu cursorul pe prajitură și observați descrierea din tooltip</li>
					  </ul>
					</desc>
					SVG-ul nu e acceptat de browser
				  </svg> 
				  <br/>
				  <object data="/resurse/svg/text-misto.svg" type="image/svg+xml"></object>
				  
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>