<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="bijuterii, inele, brățări, cercei, piercinguri, pandantive, medalioane, argint, pietre semiprețioase, onix, ametist, livrare rapidă, retur gratuit, transport gratuit la peste 200 ron, gotic, gotice, handmade, oțel inoxidabil, reglabile, gothic, alternativ, livrare în toată țara, rock, punk, negru, gravură, Killstar, Darkstar, Alchemy Gothic, Demonia, Cleopatra, Living Dead Souls"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="La PlagueStore gasesti bijuterii inedite in stil gotic care cu siguranta iti vor ">
        <title>PlagueStore</title>
    </head>
    <body class="pagina">
    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid-pagina">
            <section id="welcome">
                <h2>Bine ati venit</h2>
                <p class="intro" >Vă mulțumim că ne vizitați site-ul. Luați de aici niște <b>biscuiți</b> virtuali. Poftă bună!</p>
                
                <div class="intro-oferte"><div>Pateuri</div><div>Bomboane</div><div>Fursecuri</div><div>Prajituri</div><div>Torturi</div></div>
                <p class="anunt intro">Vă puteți îngrășa atât la sediul nostru cât și la propriul dumneavoastră domiciliu, cu ajutorul ofertei noastre de livrare a produselor prin curier.</p>
                <div id="dv-prezentare-1">
                    <div id="dv-prezentare">
                    <figure>
                        <picture>
                            <!-- il ia pe primul care se potriveste cu query-ul din media-->
                            <source srcset="./resurse/imagini/cakes-1681543_640.jpg" media="(max-width:700px)"/>
                            <source srcset="./resurse/imagini/macarons.jpg" media="(max-width:1200px)"/>
                            <img src="./resurse/imagini/macarons-640x360.jpg" alt="text" title="Dulciuri"/>
                        </picture>
                        <figcaption>Biscuiti</figcaption>
                    </figure>
                </div>
            </div>
            <hr class="prajituri"/>
            <div id="container-video">
                <img class="farfurie" src="resurse/imagini/farfurie-flori-albastre.png" alt="farfurie">
                <div id="centrare-video">
                    <div id="clip-video">
                        <div id="stil-video">
                            <video width="320" height="240"  playsinline autoplay loop muted>
                                <source src="resurse/video/Chocolate.mp4" type="video/mp4">
                                <source src="resurse/video/Chocolate.ogv" type="video/ogv">
                                <track default src="data:image/png;base64, V0VCVlRUIC0gQ2lvY29sYXTEgwoKMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAgbGluZTowCkNpb2NvbGF0xIMhISEKCjAwOjAzLjAwMCAtLT4gMDA6MDcuMDAwIGxpbmU6MApNdWx0xIMgY2lvY29sYXTEgyEhISEKCjAwOjA5LjAwMCAtLT4gMDA6MTQuMDAwIGxpbmU6MApVcHMsIGFtIG11cmTEg3JpdCBtYXNhIQoKMDA6MTQuNTAwIC0tPiAwMDoxOS4wMDAgbGluZTowCk51IGNvbnRlYXrEgyEgQ2lvY29sYXTEg8SDxIPEg8SDxIMhCgo=" kind="captions" srclang="ro" label="romana">
                                <track src="data:image/png;base64, V0VCVlRUIC0gQ2hvY29sYXRlDQoNCjAwOjAwLjAwMCAtLT4gMDA6MDMuMDAwDQpDaG9jb2xhdGUhISENCg0KMDA6MDMuMDAwIC0tPiAwMDowNy4wMDANCkxvdHMgb2YgY2hvY29sYXRlISEhIQ0KDQowMDowOS4wMDAgLS0+IDAwOjE0LjAwMA0KT3VwcywgdGFibGUgZ290IGRpcnR5IQ0KDQowMDoxNC41MDAgLS0+IDAwOjE5LjAwMA0KRG9lc24ndCBtYXR0ZXIhIENob2NvbGF0ZSEhIQ0KDQo=" kind="captions" srclang="en" label="engleza">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <section id="promotii">
                <h2>Promoții</h2>
                <article>
                    <h3 class="titlu">Super ofertă de weekend</h3>
                    <p><b>Cofetăria Dulcelind</b> oferă <b>reduceri de <s>10%</s> <ins datetime="2024-03-19">15%</ins></b> pentru toate produsele cumpărate în intervalul 10-14.</p>
                    <p>Oferta este valabilă doar în zilele de sâmbătă și duminică la sediile <abbr title="Cofetăria Dulcelind">CD</abbr>.</p>
                    <p>în cazul în care cumpărați mai mult de zece prăjituri primiți si un card de fidelitate pentru Salvare!</p>
                </article>
                <article>
                    <h3>Ofertă pachet</h3>
                    <p>Cofetăria Dulcelind oferă pachete cuprinzând:</p>
                    <ol>
                        <li><i lang="en">icecream</i></li>
                        <li>Un set de 4 pateuri de sortimente diferite</li>
                        <li>O prajitură la alegere</li>
                        <li>Un <i>suc</i></li>
                        <li>Gratis: o farfurioară ornata cu inițiala cofetăriei</li>
                        <li>Gratis: o felicitare cu imaginea cofetăriei</li>
                        <li>Gratis: un pui de pisică (am găsit niște pui de pisică abandonați lângă cofetărie și noi nu îi putem păstra. Nu ne reclamați la ANPC, <!--abreviere--> mulțumim de înțelegere!).  </li>
                    </ol>
                    
                </article>
                <article>
                    <h3 class="titlu bcd">Promotie 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
                    <ol>
                        <li>Suspendisse tempus imperdiet elit in.</li>
                        <li>Quisque feugiat, mi eget condimentum</li>
                        <li>Nunc vitae semper lacus, sed hendrerit purus </li>
                        <li>Aenean imperdiet lorem vitae velit porta</li>
                    </ol>
                    
                </article>
                <article>
                    <h3>Promotie 4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo, arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris. Nunc vulputate risus ex.</p>
                    <ol>
                        <li>Suspendisse tempus imperdiet elit in.</li>
                        <li>Quisque feugiat, mi eget condimentum</li>
                        <li>Nunc vitae semper lacus, sed hendrerit purus </li>
                        <li>Aenean imperdiet lorem vitae velit porta</li>
                    </ol>
                    
                </article>
            </section>
            <section id="produse">
                <h2>Produsele noastre</h2>
                <p>Vă oferim o multitudine de metode să câștigați cu succes kilograme în plus.</p>
                <section>
                    <h3>Torturi</h3>
                    <p>În caz că nu le puteți mânca fiindcă sunteți la dietă și doar vă uitați la ele, puneți accentul pe u!</p>
                    <p>Avem torturi cu:</p>
                    <ul>
                        <li>ciocolată</li>
                        <li>frișcă</li>
                        <li>fructe</li>
                        <li>dulceață</li>
                        <li>înghețată</li>
                        <li>regrete</li>
                    </ul>
                </section>
                <section>
                    <h3>Prăjituri</h3>
                    <p>Oferim prăjiturile clasice plus câteva creations personnelles, oui!</p>
                    <p>Prăjituri:</p>
                    <ul>
                        <li>savarină</li>
                        <li>amandină</li>
                        <li>tartă cu fructe</li>
                        <li>doboș</li>
                        <li>carpați (orientali, meridionali și occidentali)</li>
                        <li>ecler</li>
                        <li>tiramisu</li>
                        <li>colivă</li>
                    </ul>
                </section>
                
                <section>
                    <h3>Pateuri</h3>
                    <p>Pateurile noastre sunt umplute cu:</p>
                    <ul>
                        <li>brânză</li>
                        <li>pizza</li>
                        <li>spanac</li>
                        <li>ciuperci</li>
                        <li>compoziție secretă (sincer, nici noi nu mai știm ce conține)</li>
                    </ul>
                </section>
            </section>
            <section id="orar">
                <h2>Orar</h2>
                <table id="tab-orar">
                    <thead>

                        <tr>
                            <th>Cod</th>
                            <th>Perioadă</th>
                            <th>Zi</th>
                            <th>Interval dimineata</th>
                            <th>Pauza de masa</th>
                            <th>Interval seară</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td rowspan="5">Zile<br/>Lucrătoare</td>
                            <td>Luni</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Marti</td>
                            <td>9-12</td>
                            <td>12-14</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Miercuri</td>
                            <td>9-11</td>
                            <td>11-13</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Joi</td>
                            <td>9-11</td>
                            <td>11-13</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td></td>
                            
                            <td>Vineri</td>
                            <td>9-12</td>
                            <td>12-14</td>
                            <td>14-19</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td rowspan="2">Weekend</td>
                            <td>Sambata</td>
                            <td>10-12</td>
                            <td>12-13</td>
                            <td>13-16</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Duminica</td>
                            <td>10-14</td>
                            <td>-</td>
                            <td>inchis</td>
                        </tr>
                    </tbody>
                    <tfoot><tr><td colspan="6">Închis cu ocazia sărbătorilor legale sau când ne e mai lene așa.</td></tr></tfoot>
                </table> 
            </section>
            <figure id="fig1" class="fg-img">
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose 1</figcaption>
            </figure>
            <figure id="fig2" class="fg-img">
            <img src="resurse/imagini/briose-frisca.png" alt="briose">
            <figcaption>Briose 2</figcaption>
            </figure>
            <figure  id="fig3" class="fg-img">
            <img src="resurse/imagini/briose-frisca.png" alt="briose">
            <figcaption>Briose 3</figcaption>
            </figure>
            <section id="anunturi">
                <h2>Anunțuri</h2> <p><time datetime="2022-01-05">5 ianuarie 2022</time> <strong>No more Covid!!!!</strong></p>
               
                <p><time datetime="2020-07-05">5 iulie 2020</time> Am adăugat o prăjitură noua în meniu</p>
                <p><time datetime="2020-09-15">15 septembrie 2020</time> Am adăugat un fursec nou în meniu</p>
                <p><time datetime="2020-12-20">20 decembrie 2020</time> Nu avem nimic de anunțat, dar ne era dor de voi.</p>
                <p><time datetime="2020-12-28">28 decembrie 2020</time> Am adăugat o prăjitură noua în meniu</p>
                <p><time datetime="2021-01-01">1 ianuarie 2021</time> Un an nou fericit!</p>
                <p><time datetime="2021-02-11">11 februarie 2021</time> Studiile au arătat că prăjiturile sunt cele mai sănătoase alimente. 
                    E adevărat că doar studiile noastre, dar astea sunt detalii. </p>
            </section>
            <section id="index-intrebari">
                <h2>Întrebări frecvente</h2>
                <details><summary>Produsele dumneavoastră provoacă afecțiuni dentare?</summary>
                    <p>Da!</p>
                </details>
                <details><summary>Produsele dumneavoastră provoacă afecțiuni ale sistemului digestiv (precum diabetul)?</summary>
                    <p>Da!</p>
                </details>
                <details><summary>Produsele dumneavoastră provoacă obezitate?</summary>
                    <p>Foarte! Da!</p>
                </details>
                <details><summary>Sunteți cumva asociați cu medicii dentiști, medicii gastroenterologi, companiile farmaceutice și sălile de Fitness?</summary>
                    <p>Ne rezervăm dreptul de a nu răspunde la această întrebare; mulțumim pentru înțelegere!</p>
                </details>
            </section>

        </div>
        <section id="galerie-statica">
            <h2>Galerie</h2>
            <div id="grid-galerie">
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
                <figure>
                <img src="resurse/imagini/briose-frisca.png" alt="briose">
                <figcaption>Briose</figcaption>
                </figure>
            
            </div>
        </section>
        <section id="retete">
            <h2>Retete</h2>
            <p>Dacă doriți să vă faceți singuri prăjiturile (dar de ce ati face asta când ne aveți pe noi???) 
                vă recomandăm următoarele rețete simple pe care sperăm să le încercați, să vedeți cât e de <s>ușor</s> să le faceți, 
                să vă dați în final bătuți și să veniți să cumpărați de la noi &#128512;. Mulțumim! &#128513;</p>
            <div class="taburi-iframe">
            <a href="https://www.youtube.com/embed/qtlhdIfojmc" target="ifr-video">Reteta tort vanilie</a>
            <a href="https://www.youtube.com/embed/dsJtgmAhFF4" target="ifr-video" >Reteta tort ciocolata</a>
            <a href="https://www.youtube.com/embed/Wtxbt-CpA2s" target="ifr-video" >Reteta tort căpșuni</a><br/>
            </div>

            
            <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/qtlhdIfojmc" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>