#calendar{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap:0.2rem;
    color:var(--cl-text);
}
#calendar div:nth-child(n+8).zi{
    border:1px solid black;
}

#calendar div:nth-child(n+8).eveniment{
    background-color: mediumaquamarine;
}

.container-calendar{
    width:200px;
}