nav {
  --culoare-hvr-text: var(--culoare-tab1);
  --culoare-umbra: var(--culoare-bkg-grid);
  --culoare-hvr-bkg: #69AE79;
  --inaltime-meniu: 2.5em;
  --latime-buton: 150px;
  height: var(--inaltime-meniu);
  background-color: var(--culoare-deschisa);
}

#hamburger, #ch-menu {
  display: none;
}

#acasa-mediu {
  display: none;
}

.meniu {
  display: flex;
}
.meniu li {
  border: 1px solid var(--culoare-inchisa);
  width: var(--latime-buton);
  height: var(--inaltime-meniu);
  text-align: center;
  box-sizing: border-box;
}
.meniu li:hover > a {
  background-color: var(--culoare-inchisa);
  color: var(--culoare-hvr-text);
  text-decoration: double underline;
}
.meniu li:hover > div {
  box-shadow: 0 0 10px 0 var(--culoare-umbra) inset;
  background-color: var(--culoare-hvr-bkg);
  border: 1px solid var(--culoare-text);
  border-radius: 10px 10px 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  text-align: center;
}
.meniu li:hover > ul {
  display: block;
  position: absolute;
  z-index: 100;
  animation: animatie_submeniu 1s linear 1 forwards;
}
.meniu ul {
  display: none;
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
}

.meniu, .meniu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--culoare-meniu);
}

.meniu li div, .meniu li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: var(--inaltime-meniu);
  color: var(--culoare-text);
  text-decoration: none;
  box-sizing: border-box;
}

@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}