#hamburger {
  display: block;
}
#hamburger > img {
  height: var(--inaltime-meniu);
  display: block;
}

ul.meniu {
  display: none;
  position: absolute;
  width: 100%;
}

#ch-menu:checked + ul.meniu {
  display: block;
  z-index: 2;
  position: relative;
  animation-name: aparitie_meniu_p;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#ch-menu:checked + ul.meniu > li ul > * {
  position: relative;
  z-index: 200;
}

#ch-menu:checked + ul.meniu > li > div, #ch-menu:checked + ul.meniu > li > a {
  z-index: 2;
  position: relative;
  transform-origin: 50% 50%;
  animation-name: aparitie_meniu_p_btn;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

nav ul.meniu li {
  width: 100%;
}
nav ul.meniu > li ul {
  position: absolute;
  width: 100%;
  z-index: 200;
  transform: scale(1, 1) !important;
  opacity: 1 !important;
}
nav ul.meniu > li:hover > ul {
  z-index: 200;
  animation: none;
}

@keyframes aparitie_meniu_p {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    opacity: 1;
    clip-path: polygon(0 0, 22% 0, 60% 10%, 21% 20%, 60% 30%, 21% 40%, 61% 50%, 22% 60%, 60% 70%, 22% 80%, 61% 90%, 21% 100%, 0 100%);
  }
  75% {
    opacity: 1;
    clip-path: polygon(0 0, 22% 0, 85% 10%, 21% 20%, 85% 30%, 21% 40%, 85% 50%, 22% 60%, 85% 70%, 22% 80%, 85% 90%, 21% 100%, 0 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 10%, 100% 20%, 100% 30%, 100% 40%, 100% 50%, 100% 60%, 100% 70%, 100% 80%, 100% 90%, 100% 100%, 0 100%);
    transform: scale(1, 1);
  }
}
@keyframes aparitie_meniu_p_btn {
  0% {
    transform: scale(0, 0);
  }
}