main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}

.grid-produse .produs h3{
    background-color: var(--culoare-roz-inchis);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color: var(--cul-h3);
}
.grid-produse .produs h3 a:hover{
    color: var(--cul-bg-h3);
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--cl-marcare);
}
.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--cl-marcare);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: var(--culoare-mov);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--cl-marcare);
    
    border:1px solid  var(--culoare-mov);
}

.produs.cel-mai-ieftin {
    background-color: #67a671;
    border: 2px solid rgb(42, 68, 42);
    box-shadow: 0 0 5px rgba(243, 166, 166, 0.3);
    position: relative;
  }
  
  .produs.cel-mai-ieftin .label-ieftin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    background-color: rgb(199, 22, 51);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Metal Mania", system-ui;
    border-radius: 2px;
    z-index: 10;
  }