<footer id="footer">

    <div id="banner"><b>Acesta este un proiect scolar!</b><br><button class="btn btn-primary" id="ok_cookies">Accepta cookies</button></div>

    
    <a href="http://www.google.com" target="_blank">Google</a>
    <!-- <a href="fisier.pdf" download>Descarcabil</a> ->
    <a href="#top" id="link-top"><div id="triunghi"></div></a>-->
    <a href="#top" id="link-top" title="Înapoi sus">
        <div id="button-container">
          <div id="sageata">&#8593;</div>
        </div>
      </a>
      
    <address>
        Strada Academiei nr.14, Bucuresti 010014
        <br />
        <div class ="icon-plic-container">
            <i class="fa-solid fa-envelope"></i><span> :</span>
            <a href="mailto:plague_store@gmail.com" class="link-email">E-mail: plague_store@gmail.com </a>
        </div>
        <br />
        <a href="tel:+40743010900">Telefon: +40743010900</a>
    <br />
    <a href="skype:<username>?<action>"> Skype GFBD</a>
    <br />
    <a
        href="maps:https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu">Maps</a>
    </address>
    <p><small>Copyright &copy;<time datetime="2024-03-04">04 martie 2024</time></small></p>
</footer>