<header class="c1" id="h1" >
    <h1>PlagueStore</h1>
   
    <!--<button id="schimba_tema">Schimba tema</button>
    <script src="/resurse/js/tema.js"></script>-->

    <!--<div class="container">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="themeSwitch">
            <label class="form-check-label" for="themeSwitch">Schimba Tema</label>
        </div>
    </div>-->

    <div class="toggle-container">
        <label id="schimba_tema" class="toggle">
            <input type="checkbox" id="tema_toggle">
            <div class="slider"></div>
            <div class="icons">
                <i class="fas fa-sun"></i>
                <i class="fas fa-moon"></i>
            </div>
        </label>
    </div>

    <script src="script.js"></script>

</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img class="img" src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span></div>
            <ul>
                <li><a href="/index#welcome">Bine ati venit!</a></li>
                <li><a href="/index#promotii">Promotii</a></li>
                <li><a href="/index#anunturi">Anunturi</a></li>
                <li><a href="/index#produse">Oferta</a></li>
                <li><a href="/index#dimensiuni">Dimensiuni</a></li>
                <li><a href="/index#intrebari">Intrebari</a></li>
                <li><a href="/index#review-uri">Review-uri</a></li>
            </ul>
        </li>

        <li><a href="/inregistrare">Inregistrare</a></li>

        <li><div>Despre noi</div>
            <ul>                        
                <li><a href="/despre.html#prezentare">Prezentare</a></li>
                <li><a href="/despre.html#politica_securitate">Politica de securitate</a></li>
                <li><a href="/despre.html#galerie">Galerie</a></li>
            </ul>
        </li>

        <li><div>Produse</div>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <li><a href="/produse/?tip_produs=inele">Inele</a></li>
                <li><a href="/produse/?tip=bratari">Bratari</a></li>
                <li><a href="/produse/?tip_produs=medalioane">Pandantive</a></li>
                <li><a href="/produse/?tipuri_bijuterii=cercei">Cercei</a></li>
                <li><a href="/produse/?tip_produs=piercinguri">Piercinguri</a></li>
            </ul>
        </li>

        <li><a href="/cos-virtual">Cos</a></li>
        <li><a href="/contact">Contact</a></li>

        <%- include("submeniu-administrare.ejs") %>
                <%- include("submeniu-utilizator-logat.ejs") %>

    </ul>
</nav>