        <meta charset="UTF-8">
        <meta name="author" content="Ana-Maria Stefan">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/resurse/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/resurse/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/resurse/favicon/favicon-16x16.png">
        <link rel="manifest" href="/resurse/favicon/site.webmanifest">
        <link rel="mask-icon" href="/resurse/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/resurse/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/resurse/favicon/browserconfig.xml">
        <meta name="theme-color" content="#581515">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

        <link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css" type="text/css" />
        <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />
        
        <link rel="stylesheet" href="/resurse/css/video.css" type="text/css" />        

        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css" />
        
        <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />
        
        <link rel="stylesheet" href="/resurse/css/eroare.css" type="text/css" />

        <link rel="stylesheet" href="/resurse/css/nav1000.css" type="text/css" media="screen and (max-width:1000px)"/>
        
        <link rel="stylesheet" href="/resurse/css/nav700.css" type="text/css" media="screen and (max-width:700px)"/>

        <link rel="stylesheet" href="/resurse/css/galerie_statica.css" type="text/css" />

        <link rel="stylesheet" href="/resurse/css/stil.css" type="text/css" />

        <link rel="stylesheet" href="/resurse/css/produs.css" type="text/css" />

        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
        <!--<style>
            p{
                /*color: green;*/
            }
        </style>-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css"/>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <title>Tabel Inele</title> -->
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="styles-print.css" media="print">
        <!--bootstrap-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css" type="text/css" />
        <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/resurse/js/tema.js"></script>
        <link rel="stylesheet" href="/resurse/css/tema.css" type="text/css" />

        <!--Lab12-->
        <script src="/resurse/js/cookies.js"></script>

        <link rel="stylesheet" href="/resurse/css/factura.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/calendar.css" type="text/css" />

