<section>
    <p><b>Useri online:</b></p>
    <ol>
        <% for(let u of locals.useriOnline) { %>
            <li><%- u.username %>(<%- u.prenume %> <%- u.nume %>)</li>
        <% } %>
    </ol>
</section>